*{
    margin: 0;
    padding: 0;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
    color: #000;
}

.text-push-right{
    text-align: right;
}

.text-lg{
    font-size: 18px;
}

.text-font {
    font-family: 'PingFang SC';
}

.text-color{
    color: #fff;
}